nav {
    border-bottom: 2px solid #337ab7;
}

button {
    border-radius: 5px !important;
    padding: 25px !important;
    margin-top: 35px;
}

.intro {
    margin-top: 35px;
    margin-bottom: 35px;
}

.themes-showcase {
    margin-top: 25px;
}

.themes-showcase h4 {
    margin-bottom: 20px;
}

.themes-table {
    margin-left: auto;
    margin-right: auto;
}

.theme-display {
    display:inline;
}

td {
    padding: 10px;
}

td p {
    margin-bottom: 5px;
    text-align: center;
}

img {
    width: 10vw;
    min-width: 150px;
}

.drop-zone {
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #337ab7;
  border-radius: 5px;
  box-sizing: border-box;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none !important;
}

.drop-zone__thumb {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#theme {
  display: none !important;
}


/* GEARS */

.loading {
  display: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

svg {
  height: 400px;
  width: 400px;
}
@-webkit-keyframes gears_rotate {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform: rotate3d(0,0,1,0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate3d(0,0,1,360deg);
  }
}
@-moz-keyframes gears_rotate {
  0% {
    -moz-transform: rotate(0);
    -moz-transform: rotate3d(0,0,1,0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -moz-transform: rotate3d(0,0,1,360deg);
  }
}
@-ms-keyframes gears_rotate {
  0% {
    -ms-transform: rotate(0);
    -ms-transform: rotate3d(0,0,1,0);
  }
  100% {
    -ms-transform: rotate(360deg);
    -ms-transform: rotate3d(0,0,1,360deg);
  }
}
@keyframes gears_rotate {
  0% {
    transform: rotate(0);
    transform: rotate3d(0,0,1,0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate3d(0,0,1,360deg);
  }
}

@-webkit-keyframes small_gears_rotate {
  0%   {
    -webkit-transform: rotate(0);
    -webkit-transform: rotate3d(0,0,1,0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -webkit-transform: rotate3d(0,0,1,-360deg);
  }
}
@-moz-keyframes small_gears_rotate {
  0%   {
    -moz-transform: rotate(0);
    -moz-transform: rotate3d(0,0,1,0);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -moz-transform: rotate3d(0,0,1,-360deg);
  }
}
@keyframes small_gears_rotate {
  0%   {
    transform: rotate(0);
    transform: rotate3d(0,0,1,0);
  }
  100% {
    transform: rotate(-360deg);
    transform: rotate3d(0,0,1,-360deg);
  }
}
.gear {
  -webkit-transition: -webkit-transform .2s linear;
     -moz-transition:    -moz-transform .2s linear;
      -ms-transition:     -ms-transform .2s linear;
          transition:         transform .2s linear;
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.gear-big {
  -webkit-transform-origin: 63px 108px;
     -moz-transform-origin: 63px 108px;
      -ms-transform-origin: 63px 108px;
          transform-origin: 63px 108px;
}
.gear-small {
  -webkit-transform-origin: 128px 47.5px;
     -moz-transform-origin: 128px 47.5px;
      -ms-transform-origin: 128px 47.5px;
          transform-origin: 128px 47.5px;
}
.gears .gear-big {
  -webkit-animation: gears_rotate 3s linear 0s infinite;
  -moz-animation: gears_rotate 3s linear 0s infinite;
  -ms-animation: gears_rotate 3s linear 0s infinite;
  -o-animation: gears_rotate 3s linear 0s infinite;
  animation: gears_rotate 9s linear 0s infinite;

}
.gears .gear-small {
  -webkit-animation: small_gears_rotate 2s linear 0s infinite;
  -moz-animation: small_gears_rotate 2s linear 0s infinite;
  -ms-animation: small_gears_rotate 2s linear 0s infinite;
  -o-animation: small_gears_rotate 2s linear 0s infinite;
  animation: small_gears_rotate 6s linear 0s infinite;
}
