{% extends "bootstrap/base.html" %}
{% block title %}TBD{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
<nav>
  <h1 class="text-center">TBD</h1>
</nav>
<p class="intro text-center center">
    Tired of making powerpoints to catch your team up on the latest studies?
    You've come to the right place. TBD uses natural language processing to
    pick out the most important points and summarizes the paper in 5 slides
    or less. Simply upload your files, click generate, and wait for your work
    to be done for you!
</p>
<form method="post">
    <div class="center">
        <div class="drop-zone">
            <span class="drop-zone__prompt">Drop Files Here or Click to Upload</span>
            <input type="file" name="file" accept=".pdf" class="drop-zone__input">
        </div>
    </div>
    <div class="themes-showcase">
        <h4 class="text-center">Select Your Theme</h4>
        <table class="themes-table">
            <tr>
                <td data-theme-num="1">
                    <p>Gallery</p>
                    <img src="{{url_for('static', filename='themes_img/gallery.png')}}">
                </td>
                <td data-theme-num="2">
                    <p>Ion Boardroom</p>
                    <img src="{{url_for('static', filename='themes_img/ion-boardroom.png')}}">
                </td>
                <td data-theme-num="3">
                    <p>Ion</p>
                    <img src="{{url_for('static', filename='themes_img/ion.png')}}">
                </td>
                <td data-theme-num="4">
                    <p>Organic</p>
                    <img src="{{url_for('static', filename='themes_img/organic.png')}}">
                </td>
                <td data-theme-num="5">
                    <p>Slice</p>
                    <img src="{{url_for('static', filename='themes_img/slice.png')}}">
                </td>
            </tr>
        </table>
        <input type="number" id="theme" name="theme" min="1" max="5">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Generate PPTX</button>
    </div>
</form>
<script src="{{url_for('static', filename='themes.js')}}"></script>
<script src="{{url_for('static', filename='dropzone.js')}}"></script>
{% endblock %}
