{% extends "bootstrap/base.html" %}
{% block title %}EZPowerPoint{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block head %}
{{super()}}
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest')}}">
{% endblock %}

{% block content %}
<nav>
    <img src="{{url_for('static', filename='media/logo.png')}}">
</nav>
<div id="upload">
    <p class="intro text-center center">
        Tired of making powerpoints and losing hours that could be put into deep work?
        You've come to the right place. EZ PowerPoint uses natural language processing algorithms to
        pick out the most important points and summarizes the report or paper. Simply upload your files, click generate, and wait for your work
        to be done for you!
    </p>
    <form action="http://ezppt.herokuapp.com/uploader" method="post" enctype = "multipart/form-data">
        <div class="center">
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop Files Here or Click to Upload</span>
                <input type="file" name="file" accept="application/doc, application/ms-doc, application/msword,
                    application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    class="drop-zone__input" style="display:none;">
            </div>
        </div>
        <div class="themes-showcase">
            <h4 class="text-center">Select Your Theme</h4>
            <div class="table">
                <div class="tr">
                    <div class="td" data-theme-num="1">
                        <p>Gallery</p>
                        <img src="{{url_for('static', filename='media/gallery.png')}}">
                    </div>
                    <div class="td" data-theme-num="2">
                        <p>Ion Boardroom</p>
                        <img src="{{url_for('static', filename='media/ion-boardroom.png')}}">
                    </div>
                    <div class="td" data-theme-num="3">
                        <p>Ion</p>
                        <img src="{{url_for('static', filename='media/ion.png')}}">
                    </div>
                    <div class="td" data-theme-num="4">
                        <p>Organic</p>
                        <img src="{{url_for('static', filename='media/organic.png')}}">
                    </div>
                    <div class="td" data-theme-num="5">
                        <p>Slice</p>
                        <img src="{{url_for('static', filename='media/slice.png')}}">
                    </div>
                </div>
            </div>
            <input type="number" id="theme" name="theme" min="1" max="5">
        </div>
        <div class="text-center">
            <button type="submit" id="generateSlidesBtn" action="" class="btn btn-primary" disabled>Generate Slides</button>
        </div>
    </form>
</div>
<script src="{{url_for('static', filename='upload.js')}}"></script>
{% endblock %}
